In [1]:
import pandas as pd

# Load dataset
df = pd.read_csv("../data/raw/India_Flood_Inventory_v3.csv")

# Preview first 5 rows
df.head()

,Unnamed: 0,UEI,Start Date,End Date,Duration(Days),Main Cause,Location,Districts,State,Latitude,...,Human fatality,Human injured,Human Displaced,Animal Fatality,Description of Casualties/injured,Extent of damage,Event Source,Event Souce ID,District_LGD_Codes,State_Codes
0,563,UEI-IMD-FL-1967-0001,02-07-1967 00:00,08-07-1967 00:00,7.0,flood,NaN,NaN,Assam,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,IMD,NaN,NaN,18
1,564,UEI-IMD-FL-1967-0002,22-07-1967 00:00,28-07-1967 00:00,7.0,flood,NaN,NaN,"Maharashtra, Gujarat",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,IMD,NaN,NaN,"27,24"
2,565,UEI-IMD-FL-1967-0003,01-08-1967 00:00,30-08-1967 00:00,30.0,flood,NaN,NaN,Uttar Pradesh,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,IMD,NaN,NaN,9
3,566,UEI-IMD-FL-1967-0004,08-09-1967 00:00,09-09-1967 00:00,2.0,flood,NaN,"Bhadrak, Dhenkanal, Jajapur, Subarnapur, Nuapa...","Odisha, Bihar, Uttar Pradesh, Madhya Pradesh, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,Marooning of Barwer Express,IMD,NaN,"348, 352, 356, None, 368, 345, 349, 350, 359, ...","21,10,9,23,8,6"
4,567,UEI-IMD-FL-1968-0001,22-06-1968 00:00,28-06-1968 00:00,7.0,flood,NaN,NaN,Assam,NaN,...,NaN,NaN,NaN,NaN,NaN,"Affecting about one million people,an area of ...",IMD,NaN,NaN,18

In [2]:
# Check the shape of the data (rows, columns)
print("Shape:", df.shape)

# View column names
print("\nColumns:", df.columns.tolist())

# View data types and nulls
df.info()

Shape: (6876, 23)

Columns: ['Unnamed: 0', 'UEI', 'Start Date', 'End Date', 'Duration(Days)', 'Main Cause', 'Location', 'Districts', 'State', 'Latitude', 'Longitude', 'Severity', 'Area Affected', 'Human fatality', 'Human injured', 'Human Displaced', 'Animal Fatality', 'Description of Casualties/injured', 'Extent of damage ', 'Event Source', 'Event Souce ID', 'District_LGD_Codes', 'State_Codes']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6876 entries, 0 to 6875
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         6876 non-null   int64
 1   UEI                                6876 non-null   object
 2   Start Date                         6856 non-null   object
 3   End Date                           6856 non-null   object
 4   Duration(Days)                     6857 non-null   float64
 5   Main Cause                         6845 non-null   object
 6   Location                           0 non-null      float64
 7   Districts                          6817 non-null   object
 8   State                              6876 non-null   object
 9   Latitude                           0 non-null      float64
 10  Longitude                          0 non-null      float64
 11  Severity                           0 non-null      float64
 12  Area Affected                      0 non-null      float64
 13  Human fatality                     3770 non-null   float64
 14  Human injured                      1058 non-null   float64
 15  Human Displaced                    122 non-null    object
 16  Animal Fatality                    571 non-null    object
 17  Description of Casualties/injured  3267 non-null   object
 18  Extent of damage                   3755 non-null   object
 19  Event Source                       6876 non-null   object
 20  Event Souce ID                     0 non-null      float64
 21  District_LGD_Codes                 6572 non-null   object
 22  State_Codes                        6618 non-null   object
dtypes: float64(9), int64(1), object(13)
memory usage: 1.2+ MB

In [3]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace("(", "").str.replace(")", "")
df.columns

Index(['unnamed:_0', 'uei', 'start_date', 'end_date', 'durationdays',
       'main_cause', 'location', 'districts', 'state', 'latitude', 'longitude',
       'severity', 'area_affected', 'human_fatality', 'human_injured',
       'human_displaced', 'animal_fatality',
       'description_of_casualties/injured', 'extent_of_damage', 'event_source',
       'event_souce_id', 'district_lgd_codes', 'state_codes'],
      dtype='object')

In [4]:
df["start_date"] = pd.to_datetime(df["start_date"], errors="coerce")
df["end_date"] = pd.to_datetime(df["end_date"], errors="coerce")

In [5]:
df.isnull().sum().sort_values(ascending=False).head(10)

location           6876
latitude           6876
event_souce_id     6876
severity           6876
area_affected      6876
longitude          6876
human_displaced    6754
animal_fatality    6305
human_injured      5818
end_date           4454
dtype: int64

In [6]:
df = df.dropna(subset=["state", "start_date"])

In [7]:
df = df.drop(columns=["unnamed:_0"], errors="ignore")

In [8]:
df.to_csv("../data/clean/flood_cleaned.csv", index=False)